<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <title>Text Translator and Speaker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Styles.css') }}">
   
</head>

<body>

   <!-- Correct way to include navbar -->
   {% include 'navbar/navbar.html' %}

    <!-- Content Section -->
    <div class="container">
        <h1>I can provide all AI related work</h1>
    </div>

</body>

</html>
